.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:650px){
        flex-direction: column;
    }
    &__logo {
        padding: 5px;
        margin: 0 5px;
        font-weight: 700;
        font-size: 24px;
        span{
            color:yellow;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
    &__nav {
        ul {
            display: flex;
            li {
                padding: 5px;
                margin: 0 5px;
                cursor: pointer;
                font-weight: 600;
                font-size: 20px;
                transition: color 0.3s;
                &:hover{
                    color: yellow;
                }
            }
        }
    }
}
